:root {
  --eth: #1ed3cc;
  --textColor: #8297b4;
  --pageBG: #0c192c;
  --boxBG: #15273f;
}
body {
  font-family: "Outfit", sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: var(--pageBG);
}
p {
  color: var(--textColor);
}
container {
  background-color: var(--boxBG);
  display: flex;
  flex-direction: column;
  padding: 2.7vh;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.58);
  width: 240px;
  transition: 0.5s;
}
h1 {
  font-weight: bold;
  color: white;
  font-size: 20px;
  margin-bottom: 2px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 96vh;
}
#ethImg {
  display: flex;
  width: 10px;
  align-self: center;
  margin-right: 5px;
}
#svgClock {
  display: flex;
  width: 16px;
  margin-right: 5px;
  fill: var(--textColor);
}
.price {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 200px;
}
.price p {
  color: var(--eth);
  font-weight: bold;
}
.time {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 140px;
}
.time p {
  font-weight: 400;
}
.cardInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#avatar {
  width: 20px;
  margin-right: 5px;
  border: solid white;
  border-radius: 100%;
  border-width: 1px;
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.58);
}
.cardFooter {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-items: center;
}
.name {
  color: white;
  margin-left: 5px;
}
.cardImg img {
  width: 100%;
  border-radius: 3%;
}
#line {
  display: flex;
  width: 100%;
  color: var(--textColor);
  opacity: 20%;
}
.cardText {
  font-size: 16px;
}
footer {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  background-color: var(--textColor);
  height: 4vh;
  align-items: center;
}
.cardImg img:hover {
  cursor: pointer;
  opacity: 0.5;
  background-color: #1ed3cc;
  background-blend-mode: multiply;
}
h1:hover {
  cursor: pointer;
  color: var(--eth);
}
.name:hover {
  cursor: pointer;
  color: var(--eth);
}
@media (max-width: 515px) {
  container {
    width: 300px;
    transition: 0.5s;
  }
}
